<!DOCTYPE html>
<html>
<head>
    <title>Local Webcam Stream</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Local Webcam Stream</h1>
    <img id="video" src="" />
    <script>
        var socket = io();
        var img = document.getElementById('video');
        
        socket.on('video_frame', function(data) {
            var url = window.URL.createObjectURL(new Blob([data], { type: 'image/jpeg' }));
            img.src = url;
        });
        
        // Request video stream
        socket.emit('stream');
    </script>
</body>
</html>
